---
layout: default
section: blog
---

<div class='grid'>
	<div class='unit whole'>
	{% for item in site.categories.blog limit:1000 %}
    		{% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    		{% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}

    		{% if date != ndate %}
      			<h4>{{item.date | date: '%B %Y'}}</h4>
    		{% endif %}
    		<a href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class=''>&#126; {{item.date | date:"%b %d"}}</span></a>
  	{% endfor %}
	</div>

</div>
{% include rss-link.html %}
