@import url('normalize.css') screen;
@import url('gridism.css') screen;

/* STYLES.CSS | ELENIHARLAN.NET
==================================================*/
/*
 * Stylesheet for eleniharlan.net
 * License info, etc can go here
 * This document is a work in progress
*/

/* Typography
==================================================*/
/*--- Body Text ---*/
html {
  font-size: 16px;
  background-color: #E4E4D2;
  color: #666;
}

body{
  background-color: #fff;
}

p, ul, ol {
  font-size: 1.25rem;
}

/* Links */
a {
  color:#2099aa;
  text-decoration:none;
  -webkit-transition:color 100ms;
     -moz-transition:color 100ms;
       -o-transition:color 100ms;
          transition:color 100ms;
  }
  a:hover {
    color:#197987;
    }
  a.active {
    color:#516066;
    }
  .rss {
    color:#d4d7d9;
    }
    .rss:hover {
      color:#516066;
      }


/*--- Heading Text ---*/
h2.post-title {
  display: inline-block;
  font-size: 4rem;
  color: #fff;
  border: solid 8px #fff;
  padding: 20px;
  text-shadow: 2px 2px 8px #444;
/*  position: absolute;
  width: 70%;
  margin: 0px 0 0 -35%;
  left: 50%;
*/
}


/* Layout
==================================================*/
/*--- Header and splash elements ---*/
div.splash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:50%,-100px;
  height: 500px;
  width: 100%;
}
@media screen and (max-width: 568px){
  div.splash {
    height: 300px;
  }
}
/* Make links in nav white when splash background is defined */
div.splash div#nav a{
  color: #fff;
  text-shadow: 2px 2px 8px #444;
}

/*--- Post grid ---*/
div.grid-tile {
  padding: 10px;
  height: 200px;
  background-size: cover;
  background-position: 50% 50%;
}

.grid-tile:hover{
 background-color: rgba(66, 206, 200, 0.80);
}

/*--- Sidebar Elements ---*/
/* Force Flickr images to width of sidebar */
div#flickr img {
  width: 100%;
  height: auto;
}

/*--- Footer Elements ---*/
footer {
  background-color: #E4E4D2;
}

footer a {
}

