@import url('normalize.css') screen;
@import url('gridism.css') screen;

/* STYLES.CSS | ELENIHARLAN.NET
==================================================*/
/*
 * Stylesheet for eleniharlan.net
 * License info, etc can go here
 * This document is a work in progress
*/

/* LAYOUT
==================================================*/
div.splash {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:50%,-100px;
}