<!-- <div id="nav" class="align-left">
	<div class='grid'>
		<div class='unit half'><h1><a href='{{site.baseurl}}/'>Tzunior's Table</a></h1></div>
		<div class='unit half'>
 -->			<nav class='nav-collapse' id="pagenav">
					<ul>
						<li><a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Posts</a></li>
						<li><a href='{{site.baseurl}}/recipes'>Recipes</a>
						<li><a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>What is Tzunior's Table?</a></li>
						<li><a href="#">Link 3</a></li>
					</ul>
				</nav>
<!-- 		</div>
	</div>
</div>
 -->