---
layout: default
section: blog
---

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='splash'>
    <img src='{{post.splash}}' alt='' />
  </div>
{% endif %}

<div class='grid'>
  <div class='unit whole'>
    <h1>{{page.title}}</h1><span>{{page.date | date:"%b %d"}}</span>
  </div>

  <div class='grid'>
    {{content}}
  </div>
</div>
<div class='grid'>
{% include rss-link.html %}
</div>