---
layout: default
section: blog
---

{% if page.splash %}<div class='wrapper' style="background-image:url('{{page.splash}}')">{% endif %}
            <h2 class='post-title'>{{page.title}}</h2>
{% if page.splash %}</div>{% endif %}


<div class='grid'>
  <div class='unit golden-large'>
    <span class='date'>{{page.date | date:"%b %d"}}</span>
    {{content}}
  </div>
  <div class='unit golden-small'>
    <h4 class='meta'>Serves: {{page.servings}}</h4>
    <h4 class='meta'>Ingredients</h4>
    <ul class='ingredients'>
    {%for item in page.ingredients %}
      <li>{{item.ingredient}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
<div class='grid'>
{% include rss-link.html %}
</div>