<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Tzunior's Table {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta name="description" content="Tzunior's Table">
  <meta name="author" content="Eleni Harlan">
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.baseurl}}/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/main.css">
  <script src="{{site.baseurl}}/site.js"></script>
</head>
<body class='wrap'>

{% if page.splash %}
<div class='wrapper' style="background-image:url('{{page.splash}}')">
    <header class='overlay'>
        <div class='grid'> 
        <div class='unit half'>
            <h1><a href='{{site.baseurl}}/'>Tzunior's Table</a></h1>
        </div>
        <div class='unit half'>
            <div class='menu'>
                <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Posts</a>
                <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>What is Tzunior's Table?</a>
            </div>
        </div>
        </div>
    </header>

    <h2 class='centered post-title'>{{page.title}}</h2>
</div>
{%else %}
<header class='standard'>
        <div class='grid'> 
        <div class='unit half'>
            <h1><a href='{{site.baseurl}}/'>Tzunior's</a></h1>
        </div>
        <div class='unit half'>
            <div class='menu'>
                <a class='{% if page.section == "blog" %}active{% endif %}' href='{{site.baseurl}}/'>Posts</a>
                <a class='{% if page.url == "about/" %}active{% endif %}' href='{{site.baseurl}}/about'>What is Tzunior's Table?</a>
            </div>
        </div>
        </div>
    </header>

{% endif %}



{{content}}

{% include footer.html %}

<script src='{{site.baseurl}}/site.js'></script>
</body>
