<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>Tzunior's Table {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta name="description" content="Tzunior's Table">
  <meta name="author" content="Eleni Harlan">
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.baseurl}}/blog.rss' />
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/main.css">
  <script src="{{site.baseurl}}/site.js"></script>
</head>
<body class='wrap'>

{% if page.splash %}
    <div class="splash" style="background-image:url('{{page.splash}}');">
        {% include nav.html %}
    </div>
{% else %}
    {% include nav.html %}
{% endif %}


{{content}}

{% include footer.html %}

<script src='{{site.baseurl}}/site.js'></script>
</body>
